body {
    background: #fff;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header {
    width: 100%;
    background: #414141;
    height: 90px;
    color: #fff;
}

.header .header-in {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    height: inherit;
    line-height: inherit;
}


/*********logo  start **********/

.header .header-in .logo {
    float: left;
    height: 90px;
}

.header .header-in .logo img {
    float: left;
    margin-top: 25px;
}

.header .header-in .logo .flag-word {
    float: left;
    margin: 22px 0 0 15px;
}

.header .header-in .logo .flag-word strong {
    font-size: 24px;
    letter-spacing: 13px;
    font-family: "幼圆";
}

.header .header-in .logo .flag-word strong::after {
    content: "";
    display: block;
    border-top: 2px solid #fff;
    width: 100px;
    margin: 2px 0;
}

.header .header-in .logo .flag-word h3 {
    font-size: 11px;
    margin-left: -4px;
    font-family: "幼圆";
}


/********logo  end **********/


/********主导航 start **********/

.header .header-in .main-nav {
    float: left;
    font-size: 20px;
    height: 90px;
    width: 610px;
    margin-left: 40px;
}

.header .header-in .main-nav .navs {
    float: left;
    position: relative;
}

.header .header-in .main-nav .navs:hover {
    color: #2ECC71;
}

.header .header-in .main-nav ul {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}


/*所有导航类别公共样式*/

.header .header-in .main-nav li {
    position: relative;
}

.header .header-in .main-nav li a.navs {
    display: block;
    padding: 2px 9px;
    color: #fff;
    border-radius: 3px;
    margin-right: 9px;
}

.main-nav ul li #ts-num {
    border-radius: 50%;
    font-size: 12px;
    background: #e8152d;
    color: #fff;
    position: absolute;
    top: -2px;
    left: 24.5%;
    text-align: center;
    z-index: 1000;
    padding: 0 1px 1px 0;
}


/*主导航栏当前按钮样式*/

.header .header-in .main-nav li a.navs.on {
    background: #109d59;
    color: #fff!important;
    display: block;
    height: 100%;
    padding: 0 20px;
}


/********** 主导航 end ************/


/**********登录&注册  start *************/

.header .header-in .login {
    float: right;
    font-size: 14px;
    height: 90px;
    line-height: 90px;
}


/*搜索框*/

.header .header-in .login .search {
    float: left;
    position: relative;
}

.header .header-in .login .search #infinitySearch {
    width: 220px!important;
    height: 35px!important;
    background: #000;
    border: none!important;
    border-radius: 20px!important;
    padding-left: 15px!important;
    box-sizing: border-box!important;
    color: #ddd;
    font-size: 15px!important;
}

.header .header-in .login .search #search-button {
    position: absolute;
    top: 27px;
    right: 0;
    width: 30px;
    height: 35px;
    border-radius: 0 40px 40px 0;
    -webkit-transition: all .2s ease;
    line-height: 27px;
    text-align: center;
    margin-right: -2px;
    background: #2ECC71 url(../image/indexImg/searchIcon_06.png) no-repeat center;
    cursor: pointer;
}

.header .header-in .login .search #search-button:hover {
    background: #2aa756 url(../image/indexImg/searchIcon_06.png) no-repeat center;
}


/*登录和注册*/

.header .header-in .login .login-register {
    float: left;
    margin-left: 10px;
    word-spacing: 5px;
    position: relative;
    font-size: 16px;
    width:100px;
    text-align: center;
}

.header .header-in .login .login-register a {
    color: #fff!important;
}

.header .header-in .login .login-register a:hover {
    color: #2ECC71;
}